.tag {
  display: inline-block;
  padding: 4px 12px;
  font-weight: 500;
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1;
  border-radius: 24px;
  margin-right: 8px;
  color: red;
}
