.form {
  margin: 0 auto 50px;
}

.materialsInputs {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.materialsInput {
  width: 230px;
}

.materialsAmountInputContainer {
  display: flex;
}

.materialsLabel {
  min-width: 230px;
}

.cookingTime {
  display: flex;
}

.cookingTimeUnit {
  align-self: center;
  margin-bottom: 35px;
}

.cookingTimeLabel {
  min-width: 230px;
}

.materialsAmountValue {
  max-width: 100px;
}

.materialsTimeInput {
  margin-right: 10px;
}

.materialsNameInput {
  margin-bottom: 20px;
}

.materialAdd {
  cursor: pointer;
  text-align: left;
  margin-bottom: 30px;
  padding-left: 230px;
  text-decoration: underline;
}

.materialsAdded {
  padding-left: 230px;
  text-align: left;
}

.materialsAddedItemTitle {
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  margin-right: 4px;
}

.fileInput {
  margin-bottom: 72px;
  color: black;
}
.videoFileInput {
  margin-bottom: 72px;
  color: black;
}

.button {
  font-size: 18px;
}

.materialsAddedItem {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.materialsAddedItemRemove {
  padding-left: 20px;
  color: red;
  cursor: pointer;
}

@media screen and (max-width: 820px) {
  .materialsInputs {
    display: block;
    text-align: left;
  }

  .materialAdd {
    padding-left: 0px;
  }

  .checkboxGroup {
    display: block;
  }

  .checkboxGroupLabel {
    margin-bottom: 10px;
  }

  .checkboxGroupTags {
    display: block;
  }

  .checkboxGroupItem {
    margin-bottom: 6px;
  }

  .cookingTime {
    display: block;
    text-align: left;
  }

  .materialsAdded {
    padding-left: 0px;
  }
}