h1 {
  font-size: 45px;
}

.intro-code {
  margin-top: 20px;
}

pre.highlight code * {
  white-space: nowrap; /* this sets all children inside to nowrap */
}

pre.highlight {
  overflow-x: auto; /* this sets the scrolling in x */
}

pre.highlight code {
  white-space: pre; /* forces <code> to respect <pre> formatting */
}

.main-container {
  padding-left: 30px;
  padding-right: 30px;
}

.btn:focus,
.btn:focus:active {
  outline: none;
}

body {
  margin: 0px;
  padding: 0px;
}

.coredocs-section-title {
  margin-top: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid lightgrey;
}

.coredocs-link-title a,
.coredocs-section-title a {
  display: none;
}

.coredocs-link-title a,
.coredocs-section-title a {
  text-decoration: none;
}

.coredocs-link-title:hover a,
.coredocs-section-title:hover a {
  display: inline;
  font-size: 20px;
}

.coredocs-section-title:last-child {
  margin-top: 0;
}

/* @group Docs Content */

.docs-content .meta .label {
  vertical-align: middle;
  font-size: 14px;
  font-weight: normal;
}

.docs-content .meta code {
  vertical-align: middle;
  padding: 0.2em 0.6em 0.3em;
  font-size: 14px;
}

.docs-content .btn {
  font-size: inherit;
}

.code-samples pre {
  margin-top: 20px;
}

/* @end Docs Content */

@media (max-width: 767px) {
  .main-container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (min-width: 767px) {
  #main {
    width: calc(100% - 225px);
    float: right;
  }
}

@media (min-width: 992px) {
  .modal-lg {
    width: 980px;
  }
}

.api-modal .modal-title .fa {
  color: #93c54b;
}

.api-modal .modal-body .request-awaiting {
  padding: 35px 10px;
  color: #7f8177;
  text-align: center;
}

.api-modal .modal-body .meta {
  margin-bottom: 20px;
}

.api-modal .modal-body .meta .label {
  vertical-align: middle;
  font-size: 14px;
  font-weight: normal;
}

.api-modal .modal-body .meta code {
  vertical-align: middle;
  padding: 0.2em 0.6em 0.3em;
  font-size: 14px;
}

.api-modal .modal-content .toggle-view {
  text-align: right;
  float: right;
}

.api-modal .modal-content .response .well {
  margin: 0;
  max-height: 550px;
}

.highlight {
  background-color: #f7f7f9;
}

.checkbox label.control-label {
  font-weight: bold;
}

@media (min-width: 768px) {
  .navbar-nav.navbar-right:last-child {
    margin-right: 0 !important;
  }
}
