.loading {
  position: fixed;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  line-height: 100vh;
  text-align: center;
}

@media screen and (max-width: 770px) {
  .menuButton {
    display: block
  }
}