.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55px;
  margin-bottom: 30px;
  background-image: url('./header.jpg');
}

.headerContent {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
