.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55px;
  margin-bottom: 30px;
  background-color: #b89891;
}

.headerContent {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 15px;
}
